body{
    margin: 0px;
}

.login_wrap{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 488px;
    background-color: #e76f51;
}
.login_wrap h1{
        margin-top: 20px;
        color: #f0f0f0;
}

.login_form{
    display:flex;
    justify-content: center;
}

.login_form td{
    font-size: 20px;
    padding: 5px;
}

.registration_wrap{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 310px;
    background-color: #e76f51;
}

.registration_wrap h1 {
    margin-top: 20px;
    color: #f0f0f0;
}

.registration_form{
    display:flex;
    justify-content: center;
}
table{
    border: 2px solid #f0f0f0;
    padding: 10px;
    border-radius: 20px;
    background-color: #f4a261;
}
.registration_form td{
    font-size: 20px;
    padding: 5px;
    color: #1f1f1f;
}

.facility_heading {
    font-size: 40px;
    text-align: center;
}

.sport_facility_display_header {
    margin-bottom: 10px;
    text-align: right;
}

.sport_facility_search_display {
    text-align: left;
    margin-left: 10px;
}

.facility_table_wrap{
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image_display {
    height: 200px;
    width: 330px;
}

.facility_table_wrap th{
    font-size : 30px;
    width : 300px;
}
.facility_table_wrap td{
    font-size : 20px;
}

.facility_button {
    font-size : 20px;
}
